<br>
    <div style="position: absolute; padding-left: 35%; color: white;">
    <a class="btn btn-dark" (click)="getAll()">Get All Contacts</a>&nbsp;&nbsp;
      <a class="btn btn-dark" (click)=toggleDisplayDiv()>Add New Contacts</a>   </div> 
      <br>
      <br>
    <div [hidden]="isShowDiv" >
      <!-- <form #myForm="ngForm"style="position: absolute; padding-left: 35%;background-color: black;  color:white">
      First Name <input #firstName="ngModel"  pattern="^[A-Z][a-z]*$"required placeholder="First Name" name="firstName" type="text" [(ngModel)]=cont.firstName >
      <span>
      <div *ngIf="firstName.hasError('pattren')">
          Please use capital letter 
      </div>
          <div *ngIf="firstName.hasError('required') && firstName.touched" >
              Please fill this field
          </div>
      </span><br>
      Last Name <input #lastName="ngModel"  required type="text" required placeholder="Last Name"  name="lastName" [(ngModel)]=cont.lastName>
      <span> <div *ngIf="!lastName.valid && lastName.touched">
          Please fill this field
      </div>
      </span>
      <br>
      Phone<input #phone="ngModel"  required type="tel" name="phone" required placeholder="Phone"  [(ngModel)]=cont.phone>
      <span> <div *ngIf="!phone.valid && phone.touched">
          Please fill this field
      </div>
      </span>
      <br>
      Email<input #email="ngModel"  required type="email" required placeholder="Email" name="email" [(ngModel)]=cont.email>
      <span> <div *ngIf="!email.valid && email.touched">
          Please fill this field
      </div>
      </span>
      <br>
      <input [disabled]=!myForm.valid type="button" value="Add" (click)="addContact()">
      </form> -->
      <form> 
      <h1  mat-dialog-title>Message</h1>
    <mat-dialog-content>  </mat-dialog-content>
<mat-dialog-actions>
    <button  mat-raised-button (click)="closeMe()">Close</button>
</mat-dialog-actions>
<h1  mat-dialog-title>Message</h1>
    <mat-dialog-content>  </mat-dialog-content>
<mat-dialog-actions>
    <button  mat-raised-button (click)="closeMe()">Close</button>
</mat-dialog-actions>
</form>
      </div> 
   
<br><br><br><br><br>
<!-- <a href="#" class="btn btn-dark">Search</a> -->
<!-- <form class="form-inline my-2 my-lg-0"> -->
    <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search Contact" aria-label="Search"> -->
    <!-- <button class="btn btn-outline-success my-2 my-sm-1" type="submit">Search</button> -->
  <!-- </form> -->
  <div *ngFor = "let i of all ;">
<div class="card-group">
<div class="card text-white bg-dark border-success" style="width: 15rem; ">
    <img class="card-img-top" src="../../assets/u{{num}}.png" style="width: 50px; height: 50px;">
    <div class="card-body">
      <h5 class="card-title">{{i.firstName}}&nbsp;{{i.lastName}}</h5>
      <p class="card-text">Phone : {{i.phone}}</p>
      <p class="card-text">Email : {{i.email}}</p>
      <p class="card-text">ID : {{i._id}}</p>
      <a  class="btn btn-info" (click)="udate()">Update</a>&nbsp;&nbsp;
      <a  class="btn btn-danger" (click)="del(i._id)">Delete</a> 
    </div>
  </div>
  
  </div> 
</div>
